doctype html
html
    head
        title pageTitle
        script(src="a.js")
        link(href="a.css",rel="stylesheet")
    body
        h1 Jade - node template engine
        a(href="http://www.baidu.con") 百度
        div(style="width:200px;height:200px;") aaa
        div(style={width:"200px",height:"200px"}) aaa
        div(class="aaa bbb") aaa
        div(class=["aaa","bbb"]) aaa